{% set isSpecial = true %}
{% extends "@templates/base/base.twig" %}
{% block header %}
{% include '@organisms/header/header-light.twig' with { site_title: 'Accred', header: header_accred } %}
{% endblock %}
{% block breadcrumb %}
<div class="breadcrumb-container">
  {% include '@molecules/breadcrumb/breadcrumb.twig' %}
</div>
{% endblock %}
{% block content %}
<div class="container-full py-4">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <h1>Données de Natalie Meystre</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="mt-3">
          {% include '@molecules/collapse-group/collapse-group-unit.twig' %}
        </div>
        <hr>
        <ul class="list-inline text-right mt-4">
         <li class="list-inline-item"><a class="pretty-link mr-md-3" href="#">Historique des données d'accréditation</a></li>
         <li class="list-inline-item"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#linkToUnitModal">Rattacher Natalie Meystre à une nouvelle unité</button></li>
      </ul>
      </div>
    </div>
  </div>
</div>
<!-- Delegate Modal -->
<div class="modal fade" id="linkToUnitModal" tabindex="-1" role="dialog" aria-labelledby="delegateModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rattacher Natalie Meystre à une unité</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group row">
            <label for="last-name" class="col-sm-6 col-form-label">Unité</label>
            <div class="col-sm-6">
              {% include '@atoms/dropdown/dropdown.twig' %}
            </div>
          </div>
          <div class="form-group row">
            <label for="last-name" class="col-sm-6 col-form-label">Statut</label>
            <div class="col-sm-6">
              {% include '@atoms/dropdown/dropdown.twig' %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary disabled">Valider</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
